name: CI

on:
  - push

jobs:
  node-ci:
    name: Node CI
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: gabrielrufino/node-ci@v2
        with:
          sonar-token: ${{ secrets.SONAR_TOKEN }}
          sonar-host-url: ${{ secrets.SONAR_HOST_URL }}
  dockerfile-ci:
    name: Dockerfile CI
    runs-on: ubuntu-latest
    needs:
      - node-ci
    steps:
      - uses: actions/checkout@v4
      - uses: gabrielrufino/dockerfile-ci@v1

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true
